<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="rui.todd">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".ToddApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <service
            android:name="rui.service.MyService"
            android:enabled="true"
            android:exported="true"
            android:process=":aaa" />

        <activity
            android:name=".SurfaceMediaActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".RateControlActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ShareActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ShareActivity2"
            android:screenOrientation="landscape" />
        <activity android:name=".FragmentActivity" />
        <activity
            android:name=".CircularRevealActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_circular_reveal"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".WebViewActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".BaseActivity" />

        <service
            android:name="rui.service.MusicService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".DownloadActivity" />
        <activity android:name=".PullToZoomActivity" />
        <activity android:name=".EventDispatchActivity" />
        <activity android:name=".RadioActivity" />
        <activity
            android:name=".SceneActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".CardVIewActivity" />
        <activity android:name=".MazeActivity" />
        <activity android:name=".ConstraintLayoutActivity" />
        <activity android:name=".ScreenTimeActivity" />
        <activity android:name=".AutoVideoActivity" />
        <activity
            android:name=".EmojiActivity"
            android:screenOrientation="fullSensor" />
        <activity android:name=".TestHorRecyclerActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="rui.todd.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".CircleActivity" />
        <activity android:name=".TestConstraintActivity" />
        <activity android:name=".MatchNewAnimActivity" />
        <activity android:name=".SimpleAnimActivity" />
        <activity android:name=".StartAnimActivity" />
        <activity android:name=".KeJiActivity" />
        <activity android:name=".KeJiPathActivity" />
        <activity android:name=".ScrollColorActivity" />
        <activity android:name=".MatchAnimActivity" />
        <activity android:name=".RecyclerView2Activity" />
        <activity android:name=".LoveAnimActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BuddleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ToolBarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme" />
        <activity android:name=".ListActivity" />
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DialogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SvgaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LifeCycleActivity"
            android:configChanges="screenSize" />
        <activity
            android:name=".ViewPagerAcitivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchAnimationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GlideViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhotoViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OpenBoxActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>