<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="rui.todd">

    <application
        android:name=".ToddApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".TestConstraintActivity"></activity>
        <activity android:name=".MatchNewAnimActivity" />
        <activity android:name=".SimpleAnimActivity" />
        <activity android:name=".StartAnimActivity" />
        <activity android:name=".KeJiActivity" />
        <activity android:name=".KeJiPathActivity" />
        <activity android:name=".ScrollColorActivity" />
        <activity android:name=".MatchAnimActivity" />
        <activity android:name=".RecyclerView2Activity" />
        <activity android:name=".LoveAnimActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BuddleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ToolBarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme" />
        <activity android:name=".ListActivity" />
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DialogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SvgaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LifeCycleActivity"
            android:configChanges="screenSize" />
        <activity
            android:name=".ViewPagerAcitivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchAnimationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GlideViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhotoViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OpenBoxActivity"
            android:screenOrientation="sensorLandscape" />
    </application>

</manifest>